
genome-features/GCF_011125445.2_MU-UCD_Fhet_4.1_genomic.gff
*.gff
genome-features/Fundulus_heteroclitus.Fundulus_heteroclitus-3.0.2.105.gtf
genome-features/Fundulus_heteroclitus-3.0.2.105-intron.bed
genome-features/Fundulus_heteroclitus-3.0.2.105-nonCDS.bed
genome-features/Fundulus_heteroclitus.Fundulus_heteroclitus-3.0.2.dna.toplevel.fa
genome-features/Fundulus_heteroclitus-3.0.2.105-CDS.gff.idx
genome-features/Fundulus_heteroclitus-3.0.2.105-exon.gff.idx
genome-features/Fundulus_heteroclitus.Fundulus_heteroclitus-3.0.2.dna.toplevel.fa.fai
genome-features/Fundulus_heteroclitus-3.0.2.105-intergenic.bed
.Rproj.user
.Rhistory
output/05-analysis/methylation-landscape/union_10x.bedgraph
output/05-analysis/methylation-landscape/all-samples-averages-union.bedgraph
data/17.05.q30.vcf.gz
data/17.05.q30.vcf.gz.tbi
output/04-calling/new-genome/filtered/190626_I114_FCH7TVNBBXY_L2_20-N4_CG.bedgraph
output/04-calling/new-genome/filtered/190626_I114_FCH7TVNBBXY_L2_20-N4_CG.sort.bedgraph
output/04-calling/new-genome/filtered/190626_I114_FCH7TVNBBXY_L2_20-N4_CG.vcf.gz
output/04-calling/new-genome/filtered/190626_I114_FCH7TVNBBXY_L2_20-S1_CG.bedgraph
output/04-calling/new-genome/filtered/190626_I114_FCH7TVNBBXY_L2_20-S1_CG.sort.bedgraph
output/04-calling/new-genome/filtered/190626_I114_FCH7TVNBBXY_L2_20-S1_CG.vcf.gz
output/04-calling/new-genome/filtered/190626_I114_FCH7TVNBBXY_L2_20-S3_CG.bedgraph
output/04-calling/new-genome/filtered/190626_I114_FCH7TVNBBXY_L2_20-S3_CG.sort.bedgraph
output/04-calling/new-genome/filtered/190626_I114_FCH7TVNBBXY_L2_20-S3_CG.vcf.gz
output/04-calling/new-genome/filtered/190626_I114_FCH7TVNBBXY_L2_20-S4_CG.bedgraph
output/04-calling/new-genome/filtered/190626_I114_FCH7TVNBBXY_L2_20-S4_CG.sort.bedgraph
output/04-calling/new-genome/filtered/190626_I114_FCH7TVNBBXY_L2_20-S4_CG.vcf.gz
output/04-calling/new-genome/filtered/190626_I114_FCH7TVNBBXY_L2_5-N1_CG.bedgraph
output/04-calling/new-genome/filtered/190626_I114_FCH7TVNBBXY_L2_5-N1_CG.sort.bedgraph
output/04-calling/new-genome/filtered/190626_I114_FCH7TVNBBXY_L2_5-N1_CG.vcf.gz
output/04-calling/new-genome/filtered/190626_I114_FCH7TVNBBXY_L2_5-N2_CG.bedgraph
output/04-calling/new-genome/filtered/190626_I114_FCH7TVNBBXY_L2_5-N2_CG.sort.bedgraph
output/04-calling/new-genome/filtered/190626_I114_FCH7TVNBBXY_L2_5-N2_CG.vcf.gz
output/04-calling/new-genome/filtered/190626_I114_FCH7TVNBBXY_L2_5-S3_CG.bedgraph
output/04-calling/new-genome/filtered/190626_I114_FCH7TVNBBXY_L2_5-S3_CG.sort.bedgraph
output/04-calling/new-genome/filtered/190626_I114_FCH7TVNBBXY_L2_5-S3_CG.vcf.gz
output/04-calling/new-genome/filtered/190626_I114_FCH7TVNBBXY_L2_5-S4_CG.bedgraph
output/04-calling/new-genome/filtered/190626_I114_FCH7TVNBBXY_L2_5-S4_CG.sort.bedgraph
output/04-calling/new-genome/filtered/190626_I114_FCH7TVNBBXY_L2_5-S4_CG.vcf.gz
output/04-calling/new-genome/filtered/190626_I114_FCH7TVNBBXY_L2_OC-S1_CG.bedgraph
output/04-calling/new-genome/filtered/190626_I114_FCH7TVNBBXY_L2_OC-S1_CG.sort.bedgraph
output/04-calling/new-genome/filtered/190626_I114_FCH7TVNBBXY_L2_OC-S1_CG.vcf.gz
output/04-calling/new-genome/filtered/190626_I114_FCH7TVNBBXY_L3_20-N2_CG.bedgraph
output/04-calling/new-genome/filtered/190626_I114_FCH7TVNBBXY_L3_20-N2_CG.sort.bedgraph
output/04-calling/new-genome/filtered/190626_I114_FCH7TVNBBXY_L3_20-N2_CG.vcf.gz
output/04-calling/new-genome/filtered/190626_I114_FCH7TVNBBXY_L3_5-N3_CG.bedgraph
output/04-calling/new-genome/filtered/190626_I114_FCH7TVNBBXY_L3_5-N3_CG.sort.bedgraph
output/04-calling/new-genome/filtered/190626_I114_FCH7TVNBBXY_L3_5-N3_CG.vcf.gz
output/04-calling/new-genome/filtered/190626_I114_FCH7TVNBBXY_L3_5-S2_CG.bedgraph
output/04-calling/new-genome/filtered/190626_I114_FCH7TVNBBXY_L3_5-S2_CG.sort.bedgraph
output/04-calling/new-genome/filtered/190626_I114_FCH7TVNBBXY_L3_5-S2_CG.vcf.gz
output/04-calling/new-genome/filtered/190626_I114_FCH7TVNBBXY_L3_OC-N1_CG.bedgraph
output/04-calling/new-genome/filtered/190626_I114_FCH7TVNBBXY_L3_OC-N1_CG.sort.bedgraph
output/04-calling/new-genome/filtered/190626_I114_FCH7TVNBBXY_L3_OC-N1_CG.vcf.gz
output/04-calling/new-genome/filtered/190626_I114_FCH7TVNBBXY_L3_OC-N2_CG.bedgraph
output/04-calling/new-genome/filtered/190626_I114_FCH7TVNBBXY_L3_OC-N2_CG.sort.bedgraph
output/04-calling/new-genome/filtered/190626_I114_FCH7TVNBBXY_L3_OC-N2_CG.vcf.gz
output/04-calling/new-genome/filtered/190626_I114_FCH7TVNBBXY_L3_OC-N4_CG.bedgraph
output/04-calling/new-genome/filtered/190626_I114_FCH7TVNBBXY_L3_OC-N4_CG.sort.bedgraph
output/04-calling/new-genome/filtered/190626_I114_FCH7TVNBBXY_L3_OC-N4_CG.vcf.gz
output/04-calling/new-genome/filtered/190626_I114_FCH7TVNBBXY_L3_OC-N5_CG.bedgraph
output/04-calling/new-genome/filtered/190626_I114_FCH7TVNBBXY_L3_OC-N5_CG.sort.bedgraph
output/04-calling/new-genome/filtered/190626_I114_FCH7TVNBBXY_L3_OC-N5_CG.vcf.gz
output/04-calling/new-genome/filtered/190626_I114_FCH7TVNBBXY_L3_OC-S2_CG.bedgraph
output/04-calling/new-genome/filtered/190626_I114_FCH7TVNBBXY_L3_OC-S2_CG.sort.bedgraph
output/04-calling/new-genome/filtered/190626_I114_FCH7TVNBBXY_L3_OC-S2_CG.vcf.gz
output/04-calling/new-genome/filtered/190626_I114_FCH7TVNBBXY_L3_OC-S3_CG.bedgraph
output/04-calling/new-genome/filtered/190626_I114_FCH7TVNBBXY_L3_OC-S3_CG.sort.bedgraph
output/04-calling/new-genome/filtered/190626_I114_FCH7TVNBBXY_L3_OC-S3_CG.vcf.gz
output/04-calling/new-genome/filtered/190626_I114_FCH7TVNBBXY_L4_20-N1_CG.bedgraph
output/04-calling/new-genome/filtered/190626_I114_FCH7TVNBBXY_L4_20-N1_CG.sort.bedgraph
output/04-calling/new-genome/filtered/190626_I114_FCH7TVNBBXY_L4_20-N1_CG.vcf.gz
output/04-calling/new-genome/filtered/190626_I114_FCH7TVNBBXY_L4_20-S2_CG.bedgraph
output/04-calling/new-genome/filtered/190626_I114_FCH7TVNBBXY_L4_20-S2_CG.sort.bedgraph
output/04-calling/new-genome/filtered/190626_I114_FCH7TVNBBXY_L4_20-S2_CG.vcf.gz
output/04-calling/new-genome/filtered/190626_I114_FCH7TVNBBXY_L4_5-S1_CG.bedgraph
output/04-calling/new-genome/filtered/190626_I114_FCH7TVNBBXY_L4_5-S1_CG.sort.bedgraph
output/04-calling/new-genome/filtered/190626_I114_FCH7TVNBBXY_L4_5-S1_CG.vcf.gz
output/04-calling/new-genome/filtered/190626_I114_FCH7TVNBBXY_L4_OC-S5_CG.bedgraph
output/04-calling/new-genome/filtered/190626_I114_FCH7TVNBBXY_L4_OC-S5_CG.sort.bedgraph
output/04-calling/new-genome/filtered/190626_I114_FCH7TVNBBXY_L4_OC-S5_CG.vcf.gz
genome-features/GCF_011125445.2_MU-UCD_Fhet_4.1_cds_from_genomic.fna
genome-features/GCF_011125445.2_MU-UCD_Fhet_4.1_cds_from_genomic.fna
genome-features/GCF_011125445.2_MU-UCD_Fhet_4.1_genomic-intergenic.bed
genome-features/GCF_011125445.2_MU-UCD_Fhet_4.1_genomic-intron.bed
genome-features/GCF_011125445.2_MU-UCD_Fhet_4.1_genomic-nonCDS.bed
